<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - CityOfHopeVolunteerTracking</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>



</head>

<body class="body-font nomargins fill">
  <header>
    <nav class="navbar navbar-expand-md navbar-background">
      <img class="navbar-brand logo" src="~/imgs/cohologo-white.png" alt="cohologo.png" />

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <div class="hamburger-icon"></div>
        <div class="hamburger-icon"></div>
        <div class="hamburger-icon"></div>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="nav-link text-white" href="/AdminIndex">Reports</a>
          </li>
          <li>
            <a class="nav-link text-white" href="/Volunteers/index">Volunteers</a>
          </li>

          <li>
            <a class="nav-link text-white" href="/VolunteerActivities">All Hours</a>
          </li>
          <li>
            <a class="nav-link text-white" href="/ManageTables">Manage Tables</a>
          </li>
          <li class="active">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/",
              new { area="" })" method="post">
              <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  @RenderBody()

  <footer class="border-top footer text-muted copyright">
    <div class="container-fluid">
      <div class="row text-center">
        &copy; 2019-2020 - City Of Hope
      </div>
    </div>
  </footer>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>

  @RenderSection("Scripts", required: false)
</body>

</html>