<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CityOfHopeVolunteerTracking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro&display=swap" rel="stylesheet">

</head>
<body class="body-font nomargins fill">
    <header>
            <nav class="navbar navbar-expand-md navbar-background">
                   <img class="navbar-brand logo" src="~/imgs/cohologo-white.png" alt="~/imgs/cohologo.png">

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                       <div class="hamburger-icon"></div>
                       <div class="hamburger-icon"></div>
                       <div class="hamburger-icon"></div>
                  </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                      <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                          <a class="nav-link text-white" href="/">Clock in/Clock out<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="">
                            @if(!User.Identity.IsAuthenticated) 
                            {
                                <a class="nav-link text-white" href="/Identity/Account/Login">Login</a>
                            }
                            else
                            {
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                                        <button  type="submit" class="nav-link btn btn-link text-white">Logout</button>
                                     </form>

                            }
                        </li>
                      </ul>
                </div>
             </nav>





         
    </header>


    @RenderBody()


    <footer class="footer text-muted copyright">
        <div class="container">
            &copy; 2019 - CityOfHopeVolunteerTracking - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
