@page
@model CoHO.Pages.Initiatives.EditModel

@{
    ViewData["Title"] = "Edit Initiative";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1 class="padding">Edit Initiative</h1>

<hr />
<div class="row padding">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Initiative.InitiativeID" />
            <div class="form-group">
                <label asp-for="Initiative.Description" class="control-label">Initiative Name</label>
                <input asp-for="Initiative.Description" class="form-control" />
                <span asp-validation-for="Initiative.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Initiative.InActive" /> Inactive
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
