@page
@model CoHO.Pages.Initiatives.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1 class="padding">Initiatives</h1>

<p class="padding">
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-striped table-responsive padding">
    <thead>
        <tr>
            <th>
                Initiative
            </th>
            <th>
                Inactive
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Initiative) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InitiativeID">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
