@page
@model CoHO.Pages.Skills.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1 class="padding">Create</h1>

<h4 class="padding">Skill</h4>
<hr />
<div class="row padding">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Skill.Description" class="control-label"></label>
                <input asp-for="Skill.Description" class="form-control" />
                <span asp-validation-for="Skill.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Skill.InActive" /> @Html.DisplayNameFor(model => model.Skill.InActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
