@page
@model CoHO.Pages.ValueOfHours.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1 class="padding">Value of Hours</h1>

<p class="padding">
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-striped table-responsive padding">
    <thead>
        <tr>
            <th>
                Start Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueOfHour[0].Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ValueOfHour) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveDate)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>
