@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1 style="text-align:center">@ViewData["Title"]</h1>
    <p style="text-align:center">You have successfully logged out.</p>
</header>