@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div class="login-background nopadding splash nomargins" id="loginbody">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-box span12 pagination-centered">
                    <h1>Password has been reset</h1>
                </div>
            </div>
        </div>
    </div>
</div>