@page
@model CityOfHopeVolunteerTracking.Pages.Volunteers.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h1>Edit</h1>

<h4>Volunteer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Volunteer.ID" />
            <div class="form-group">
                <label asp-for="Volunteer.First" class="control-label"></label>
                <input asp-for="Volunteer.First" class="form-control" />
                <span asp-validation-for="Volunteer.First" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Last" class="control-label"></label>
                <input asp-for="Volunteer.Last" class="form-control" />
                <span asp-validation-for="Volunteer.Last" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Email" class="control-label"></label>
                <input asp-for="Volunteer.Email" class="form-control" />
                <span asp-validation-for="Volunteer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Home" class="control-label"></label>
                <input asp-for="Volunteer.Home" class="form-control" />
                <span asp-validation-for="Volunteer.Home" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Cell" class="control-label"></label>
                <input asp-for="Volunteer.Cell" class="form-control" />
                <span asp-validation-for="Volunteer.Cell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Type" class="control-label"></label>
                <input asp-for="Volunteer.Type" class="form-control" />
                <span asp-validation-for="Volunteer.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Password" class="control-label"></label>
                <input asp-for="Volunteer.Password" class="form-control" />
                <span asp-validation-for="Volunteer.Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Volunteer.Active" /> @Html.DisplayNameFor(model => model.Volunteer.Active)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Volunteer.CommunityService" /> @Html.DisplayNameFor(model => model.Volunteer.CommunityService)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Volunteer.WorkersComp" /> @Html.DisplayNameFor(model => model.Volunteer.WorkersComp)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Volunteer.Admin" /> @Html.DisplayNameFor(model => model.Volunteer.Admin)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
