/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    margin-left: 20px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.logo {
    height: 100px;
    width: 120px;
}

.login-background {
    background-image: url('../imgs/volunteer-background.jpg');
}

.nomargins {
    margin: 0;
}

.nopadding {
    padding: 0px;
}

.splash {
    align-items: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
}

.fill {
    min-width: 100%;
}

.login-box {
    /* max-width: 250px; */
    background-color: white;
    justify-content: center;
    text-align: left;
    padding: 10px;
    width: 25%;
    margin: 0 auto;
    margin-top: 25%;
    min-width: 40%;
    min-height: 30%;
    border-radius: 10px;
}


.centered {
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.body-font {
    font-family: 'Raleway','Source Sans Pro', sans-serif;
}

.copyright {
    background-color: white;
}

.navbar-background {
    background-color: #0000d8;
    min-height: 75px;
}

.nav-link {
    color: black;
    font-size: 15pt;
}

.hamburger-icon {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.side-by-side {
    display: inline-block;
}

