@page
@model CoHO.Pages.AdminIndexModel
@{
ViewData["Title"] = "Login";
Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
 
<div class="createReportPage">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <label style="padding-top: 75px">
                    <p style="font-size: 40px">
                        Create Reports
                    </p>
                </label>
            </div>
            <div class="col-sm-4">
                <form asp-page-handler="freeform" method="post">
                <label style="padding-bottom: 20px; padding-top: 20px">
                    Start Date: <input type="date" />
                </label>
                <label style="padding-bottom: 20px">
                    End Date: <input type="date" />
                </label>
                </form>
                <label style="padding-bottom: 20px">
                    <input type="text" class="form-control" placeholder="User ID"/>
                </label>
                <form asp-page-handler="volunteer" method="post">
                <select asp-for="VolunteerActivity.VolunteerId" class="form-control"
                                    asp-items="ViewBag.VolunteerId"></select>
                </form>
                <form asp-page-handler="view" method="post">
                    <button class="btn btn-default" style="background:lightgrey; margin:10px;">
                        Generate Full Year Report
                    </button>
                </form>
               
                
            </div>
            <div class="col-sm-4">
                <label style="padding-top: 20px; padding-bottom: 20px">
                    Value of Hours: <input type="number" />
                </label>
                <label style="padding-left: 120px">
                    <button type="button" id="setHours">Update Value</button>
                </label>
            </div>
        </div>
    </div>
</div>