@page
@model RecordsModel
@{
    ViewData["Title"] = "Login";
    Layout = "_AdminLayout";
}
<div>
    <h1>Manage Records</h1>
    <div>
       <p>User ID:</p>
       <!-- Once we get our Model and controller set up, we will use something like  -->
       <!-- @Html.TextBox("UserID", "User ID", new { @class = "form-control" })   -->


    </div>
</div>