@page 
@model CityOfHopeVolunteerTracking.Pages.ButtonTestModel
@{
    ViewData["Title"] = "ButtonTest";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}


<h3>
    @Html.DisplayFor(model => model.Message)
</h3>
<form method="post"><button class="btn btn-default" style="background:lightgrey; margin:10px;">Click to post</button></form>

<p><a href="/ButtonTest" class="btn btn-default" style="background:lightgrey; margin:10px;">Click to Get</a></p>

<form asp-page-handler="view" method="post" >
    <button class="btn btn-default" style="background:lightgrey; margin:10px;">Call the onPostView method</button>
</form>


