@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="login-background nopadding splash nomargins">
        <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                            <div class="login-box span12 pagination-centered">
                                    <h1>Volunteer Clock In</h1>
                                    User ID: <input id ="userid" type="text"/>
                                    <br>
                                    Initiative: <select name="Initiative" id="">
                                        <option value="housing">Housing</option>
                                        <option value="office">Office</option>
                                        <option value="community_development">Community Development</option>
                                        <option value="garden">Community Garden</option>
                                        <option value="christmas">Christmas</option>
                                        <option value="academy">Academy</option>
                                        <option value="education">Education</option>
                                        <option value="admin">Admin</option>
                                    </select>

                                    <br>
                                    
                                    <!-- <asp:Button ID="button1" runat ="server" OnClick ="Button1_click" Text="Clock In/Clock out"/> -->
                                    <div class="navbar-nav">
                                        <button type="button" class="btn-primary" id="clockin">Clock In</button>
                                        <button type="button" class="btn-primary"id="clockout">Clock Out</button>    
                                    </div>



                            </div>
                    </div>
                </div>
            </div>
</div>


