@page
@model CreateModel
@{
ViewData["Title"] = "Index";
Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="login-background nopadding splash nomargins" id="loginbody">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-box span12 pagination-centered">
                    <h2 class="text-center">Volunteer Clock In</h2>
                    <div class="form-group">
                       <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Volunteers.Email" class="control-label"></label>
                                <input asp-for="Volunteers.Email" class="form-control" />
                                <!--<span asp-validation-for="VolunteerActivity.VolunteerId" class="text-danger"></span>-->
                            </div>
                            <!--<div class="form-group">
                                <label asp-for="VolunteerActivity.VolunteerId" class="control-label"></label>
                                <select asp-for="VolunteerActivity.VolunteerId" class="form-control"
                                    asp-items="ViewBag.VolunteerId"></select>
                            </div>-->

                            <div class="form-group">
                                <label asp-for="Initiative.InitiativeID" class="control-label">Initiative</label>
                                <select asp-for="Initiative.InitiativeID" class="form-control"
                                    asp-items="ViewBag.InitiativeId"></select>
                            </div>

           

                       

                            <div class="form-group">
                                <input id ="clockin" type="submit" asp-page-handler="ClockIn" value="Clock In" class="btn btn-primary" />
                                <input id="clockout" type="submit" asp-page-handler="ClockOut" value="Clock Out" class="btn btn-primary" />
                                <input id="test" value="Test" class="btn btn-primary" />


                            </div>
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="dist/overhang.min.css" />
<script type="text/javascript" src="dist/overhang.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>
