@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="login-background nopadding splash nomargins">
        <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                            <div class="login-box span12 pagination-centered">
                                    <h1>Volunteer Clock In</h1>
                                    User ID: <input type="text"/>
                                    <br>
                                    Initiative: <select name="Initiative" id="">
                                        <option value="housing">Housing</option>
                                        <option value="office">Office</option>
                                        <option value="community_development">Community Development</option>
                                        <option value="garden">Community Garden</option>
                                        <option value="christmas">Christmas</option>
                                        <option value="academy">Academy</option>
                                        <option value="education">Education</option>
                                        <option value="admin">Admin</option>
                                    </select>

                                    <br>
                                    <button type="button" id="clockin">Clock In</button>
                                    <button type="button" id="clockout">Clock Out</button>



                            </div>
                    </div>
                </div>
            </div>
</div>


