@page
@model CreateModel
@{
ViewData["Title"] = "Index";
Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="login-background nopadding splash nomargins">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-box span12 pagination-centered">
                    <h2 class="text-center">Volunteer Clock In</h2>
                    <div class="form-group">
                       <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="VolunteerActivity.VolunteerId" class="control-label"></label>
                                <select asp-for="VolunteerActivity.VolunteerId" class="form-control"
                                    asp-items="ViewBag.VolunteerId"></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="Initiative.InitiativeID" class="control-label"></label>
                                <select asp-for="Initiative.InitiativeID" class="form-control"
                                    asp-items="ViewBag.InitiativeId"></select>
                            </div>

           

                       

                            <div class="form-group">
                                <input type="submit" asp-page-handler="ClockInClockOut" value="Clock In" class="btn btn-primary" />
                               


                            </div>
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>